# Ignore hidden files and temporary files
.*
*~

# Include Docker
!.docker/

# Laravel Files
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

# npm/yarn log files
npm-debug.log
yarn-error.log

# Exceptions we want to track
!.gitattributes
!.gitignore
!.env.example
!.php_cs
!.gitkeep
!*/.gitignore
!.travis.yml
